<button class="drop-button" aria-expanded="false"{{#if ariaLabel}} aria-label="{{ariaLabel}}"{{/if}}>
  <span class="icon icon-plus"></span>
  <span class="icon icon-minus"></span>
  {{#if title}}
  <span class="drop-title">{{{title}}}</span>
  {{/if}}
</button>
